
KTOR_PORT=

PROXY_HOST=
PROXY_PORT=
PROXY_CERT_CRT=
PROXY_CERT_KEY=

MONGO_HOST=
MONGO_PORT=
MONGO_RS=
MONGO_DATABASE=
# PKCS12 certificate with pwd "0000"
MONGO_BACKEND_CLIENT_CERT=
# PEM certificate
MONGO_CA_CERT=

PWD_HASHING_ALGORITHM=
PWD_HASHING_SECRET=
PWD_HASHING_ITERATIONS=
PWD_HASHING_HASH_LEN=

AUTH_REFRESH_TOKEN_SECRET=
AUTH_ACCESS_TOKEN_SECRET=

MAIL_EMAIL=
MAIL_PWD=
